.password-input {
    position: relative;
  }
  
  .password-input input {
    padding-right: 40px; /* Add some space for the eye icon */
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px; /* Position it on the right inside the input */
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .toggle-password i {
    font-size: 1.2em;
    color: #333;
  }
  