.upload-button-wrapper {
    position: relative;
    width: 100px;
    height: 92px;
    /* border: 2px solid #4CAF50; Border around the circular button */
    border-radius: 50%; /* Circular shape */
    overflow: hidden; /* Ensures image is contained within the button */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .upload-button:hover {
    background-color: #eee; /* Darker green on hover */
   } 
  
  .upload-button {
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    height: 100px;
  }
  
  .uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire circle */
    border-radius: 50%; /* Ensures the image stays circular */
  }
  
  